<div>
	<h1 class="ribbon">
		<strong class="ribbon-content">Main Dishes</strong>
	</h1>

	<div class="tile-container scrollable-order-list">
		<div
			class="tile-bigbox"
			ng-repeat="dish in model.selectedRestaurant.menu.dishes"
			ng-click="addClientDish(dish)">

			<div>{{dish.count}}</div>
			<img ng-src="http://lorempixel.com/350/200/food/{{dish.id}}" width="350rem"/>

			<h2>{{dish.name}}</h2>
			<h3>{{dish.price}} UAH</h3>
		</div>
	</div>

	<!--<div class="tile-container">-->
		<!--<div class="tile-bigbox">-->
			<!--<img src="images/dishes/1.jpg" width="400rem">-->
			<!--<h2>Some pretty good food</h2>-->
			<!--<h3>500 UAH</h3>-->
		<!--</div>-->
	<!--</div>-->

	<div class="section-footer">
		<div class="mi-button" ng-click="goToPersonalOrder()">Go to order</div>
		<div class="total-price">
			<span class="left-aligned">Total</span>
			<span class="right-aligned">{{model.currentClient.order.total}} UAH</span>
		</div>
	</div>

</div>
