<div>
	{{model.orderId}}

	<h1 class="ribbon">
		<strong class="ribbon-content">Main Dishes</strong>
	</h1>
	<span ng-repeat="dish in model.selectedRestraunt.menu.dishes"
		ng-click="addClientDish(dish)">{{dish.name}} : {{dish.price}}<br/></span>

	<h1 class="ribbon">
		<strong class="ribbon-content">Selected dishes</strong>
	</h1>
	<div ng-repeat="dish in model.currentClient.order.dishes">
		<span>{{dish.name}} : {{dish.price}}грн </span>
		<button ng-click="removeClientDish(dish)">Remove</button>
	</div>

	<hr>

	Total : {{model.currentClient.order.total}}
	<button class="mi-button" ng-click="approveOrder()">Approve</button>
</div>
