<div>

	<h1 class="ribbon-grey">
		<strong class="ribbon-content">Selected dishes</strong>
	</h1>

	<div ng-repeat="dish in model.currentClient.order.dishes">
		<span>{{dish.name}} : {{dish.price}}UAH </span>
		<button ng-click="removeClientDish(dish)">Remove</button>
	</div>

	<div class="section-footer">
		<button class="mi-button" ng-click="approveOrder()">Approve</button>
		<div class="total-price">
			<span class="left-aligned">Total</span>
			<span class="right-aligned">{{model.currentClient.order.total}} UAH</span>
		</div>
	</div>
</div>